@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-color: #CCB0DA;
  color: white;
  min-height: 100vh;
  /* height: 2000px; */
}

/* .landing-page {
  position: -webkit-sticky;
  position: sticky;
} */

.landing-page.hero.hero.is-fullheight-with-navbar {
  background: rgb(76,216,191);
  background: linear-gradient(80deg, rgba(76,216,191,1) 0%, rgba(178,118,225,1) 35%, rgba(221,137,100,0) 73%, rgba(255,153,0,1) 100%);
}

.landing-page-contents.hero-body {
  width: 75%;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
}

.landing-title {
  /* display: block; */
  font-size: 310px;
  font-weight: 600;
  padding-top: 170px;
  margin: 0;
}

.landing-subtitle {
  font-size: 90px;
  font-weight: 600;
  margin-top: -100px;
  /* width: 100%; */
  display: flex;
  justify-content: flex-end;
  color: black;
  padding-left: 35%;
}

.projects {
  background-color: #fff;
}

/* .projects-contents.hero-body {
  display: flex;
  flex-direction: row;
} */

.projects-title {
  font-size: 50px;
  font-weight: 500;
  color: #000;
  margin: 50px;
}

/* .projects-container.columns.container {
  width: 100%;
} */

.projects-contents.hero-body {
  display: flex;
  justify-content: center;
}




/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
  width: 80%;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
