@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background-color: #ccc; */
  background-color: #fcfcfc;
  /* background-color: #fdfaff; */
  color: white;
  color: rgb(27, 5, 48);
  min-height: 100vh;
  /* height: 2000px; */
}

h5 a, p a {
  color: #000;
  text-align: right;
}

h5 a:hover, p a:hover {
  color: #3cb08f;
}

a.home-button {
  font-weight: 500;
  font-size: 24px;
  margin-left: 10px;
  color: #fdfaff;
}

a.home-button:hover {
  color: rgba(76,216,191,1);
}

.navbar {
  height: 50px;
  font-size: 20px;
  /* box-shadow: 0.5px 0.5px 3px 1px #888888; */
  background-color: rgba(27, 5, 48, 0.95);
  /* background-color: rgba(36, 21, 51, 0.9); */
}

.navbar-end div.navbar-item {
}

.navbar-end div.navbar-item a:hover {
  color: rgba(255,153,0,1)
}

.navbar-item a {
  color: #fdfaff;
  /* color: darkSlateGray; */
}

.landing-page.hero.hero.is-fullheight-with-navbar {
  /* background-color: #CCB0DA; */
  background: rgb(76,216,191);
  background: linear-gradient(80deg, rgba(76,216,191,1) 0%, rgba(178,118,225,1) 35%, rgba(204, 176, 218, 1) 73%, rgba(255,153,0,1) 100%);
  margin-top: 51.5px;
  /* background: linear-gradient(80deg, rgba(76,216,191,1) 0%, rgba(178,118,225,1) 35%, rgba(221,137,100,0) 73%, rgba(255,153,0,1) 100%); */
}

.landing-page.hero.is-fullheight-with-navbar .landing-page-contents.hero-body {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-end;
  /* align-content: flex-end; */
  /* width: 75%; */
  padding-right: 10%;
}

.landing-title {
  font-size: 200px;
  font-weight: 600;
  margin: 0;
}

@media only screen and (max-width: 780px) {
  .landing-title {
    font-size: 125px;
  }
}

@media only screen and (max-width: 500px) {
  .landing-title {
    font-size: 75px;
  }
}

.landing-subtitle {
  font-size: 50px;
  font-weight: 600;
  margin-top: -50px;
  color: black;
}

@media only screen and (max-width: 780px) {
  .landing-subtitle {
    font-size: 35px;
    margin-top: -25px;
  }
}

@media only screen and (max-width: 500px) {
  .landing-subtitle {
    font-size: 20px;
    /* margin-top: -25px; */
  }
}

.page-title {
  font-size: 50px;
  font-weight: 800;
  color: #000;
  margin: 50px 50px 0 50px;
  padding-top: 20px;
}

.technology h1 {
  padding-top: 50px;
}

@media only screen and (max-width: 780px) {
  .page-title {
    font-size: 40px;
    margin: 40px 30px 0 40px;
  }
}

@media only screen and (max-width: 500px) {
  .page-title {
    font-size: 30px;
    margin: 50px 15px 0 25px;
  }
}

.page-subtitle {
  font-size: 40px;
  font-weight: 700;
  color: rgb(27, 5, 48);
  /* color: #a5f4b3; */
  margin: 50px 25px 0 50px;
}

@media only screen and (max-width: 780px) {
  .page-subtitle {
    font-size: 30px;
    margin: 40px 20px 0 40px;
  }
}

@media only screen and (max-width: 500px) {
  .page-subtitle {
    font-size: 24px;
    margin: 50px 10px 0 25px;
  }
}

.projects {
  background-color: #fff;
  /* height: 100vh; */
}

/* .projects-contents.hero-body {
  display: flex;
  flex-direction: row;
} */

.projects-contents.hero-body {
  display: flex;
  justify-content: center;

  /* padding-top: 0;
  margin-top: 0; */
}

.main-carousel {
  background: #eee;
  /* width: 80%; */
}

.carousel-cell {
  width: 80%;
  height: 650px;
  margin-right: 10px;
  /* background: #8C8; */
  border-radius: 5px;
  counter-increment: carousel-cell;
  overflow: hidden;
}

@media only screen and (max-width: 780px) {
  .carousel-cell {
    height: 80vh;
  }
}

@media only screen and (max-width: 500px) {
  .carousel-cell {
    height: 60vh;
  }
}

/* cell number */
.carousel-cell a {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  /* content: counter(carousel-cell); */

}

.carousel-cell a .carousel-title {
  line-height: 200px;
  font-size: 80px;
  color: white;
  opacity: 0;

}

/* .carousel-cell a .carousel-title:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2)
} */

.project {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.sei-4 {
  background-image: url('https://user-images.githubusercontent.com/40900195/60629156-84f4f700-9dec-11e9-96e9-d19984492111.png');
}

.sei-3 {
  background-image: url('https://user-images.githubusercontent.com/40695746/57919387-a3c91980-7890-11e9-8ce1-8df3f62eeed0.png');
}

.sei-2 {
  background-image: url('https://user-images.githubusercontent.com/40900195/60671988-3e46e180-9e6c-11e9-9e18-b33e64b2380a.png');
}

.sei-1 {
  background-image: url('https://user-images.githubusercontent.com/40900195/55618685-08bc2a80-578f-11e9-9bb2-208cc4c79701.png');
  /* background-image: url('https://user-images.githubusercontent.com/40900195/55622280-a74c8980-5797-11e9-94c4-268592fe22c6.gif'); */
}

.sei-1-1 {
  background-image: url('https://user-images.githubusercontent.com/40900195/55618431-69973300-578e-11e9-8eae-1a74593fbb30.png');
}

.sei-1-2 {
  background-image: url('https://user-images.githubusercontent.com/40900195/55618541-aebb6500-578e-11e9-9321-78210fc8f7c5.png');
}

.sei-1-3 {
  background-image: url('https://user-images.githubusercontent.com/40900195/55618568-c7c41600-578e-11e9-915c-2888111298b6.png');
}

.sei-1-4 {
  background-image: url('https://user-images.githubusercontent.com/40900195/55618605-e1655d80-578e-11e9-8c21-2cd49fd25bee.png');
}

.sei-2-1 {
  background-image: url('https://user-images.githubusercontent.com/40900195/60629114-5c6cfd00-9dec-11e9-9c1e-512d7bc8c874.png');
}

.sei-2-2 {
  background-image: url('https://user-images.githubusercontent.com/40900195/60629116-6131b100-9dec-11e9-903c-51e645896f8f.png');
}

.sei-2-3 {
  background-image: url('https://user-images.githubusercontent.com/40900195/60629122-668efb80-9dec-11e9-9d1b-535fd470ef6a.png');
}

.sei-3-1 {
  background-image: url('https://user-images.githubusercontent.com/40900195/60899495-7bdbae00-a262-11e9-98db-fa0b13d2ff54.png');
}

.sei-3-2 {
  background-image: url('https://user-images.githubusercontent.com/40900195/60899496-7bdbae00-a262-11e9-9c07-3e93b01b2dff.png');
}

.sei-3-3 {
  background-image: url('https://user-images.githubusercontent.com/40900195/60899497-7bdbae00-a262-11e9-958a-cac4bc358a5f.png');
}

.sei-3-4 {
  background-image: url('https://user-images.githubusercontent.com/40900195/60899498-7bdbae00-a262-11e9-9189-ca0af0b2427f.png');
}

.sei-3-5 {
  background-image: url('https://user-images.githubusercontent.com/40900195/60899499-7bdbae00-a262-11e9-9d71-6b7a536125ad.png');
}

.sei-3-6 {
  background-image: url('https://user-images.githubusercontent.com/40900195/60899500-7c744480-a262-11e9-8ba9-e2605fdbb06a.png');
}

.sei-3-7 {
  background-image: url('https://user-images.githubusercontent.com/40900195/60899501-7c744480-a262-11e9-9dbe-cc37aea75142.png');
}

.sei-4-1 {
  background-image: url('https://user-images.githubusercontent.com/40900195/60629156-84f4f700-9dec-11e9-96e9-d19984492111.png');
}

.sei-4-2 {
  background-image: url('https://user-images.githubusercontent.com/40900195/58919014-7dc2c680-8724-11e9-92a7-4d898a4686a6.png');
}

.sei-4-3 {
  background-image: url('https://user-images.githubusercontent.com/40900195/60629130-70186380-9dec-11e9-9572-f98f13c8e2ba.png');
}

.sei-4-4 {
  background-image: url('https://user-images.githubusercontent.com/40900195/60900092-88acd180-a263-11e9-9815-904a689efc1c.png');
}

.sei-4-5 {
  background-image: url('https://user-images.githubusercontent.com/40900195/60900093-88acd180-a263-11e9-8c78-a243c88c18de.png');
}

.sei-4-6 {
  background-image: url('https://user-images.githubusercontent.com/40900195/60900094-88acd180-a263-11e9-893f-47b2934b580c.png');
}

.sei-4-7 {
  background-image: url('https://user-images.githubusercontent.com/40900195/60900096-88acd180-a263-11e9-89ec-0ecb644e6e82.png');
}

.skills {
  background-color: #ddd;
  padding-bottom: 50px;
}

.skills-contents.hero-body {
  display: flex;
  justify-content: center;
}

.skill-item {
  font-size: 35px;
  font-weight: 600;
  color: darkSlateGray;
}

@media only screen and (max-width: 780px) {
  .skill-item {
    font-size: 28px;
  }
}

@media only screen and (max-width: 500px) {
  .skill-item {
    font-size: 22px;
  }
}

.aboutMe {
  background-color: darkSlateGray;
}

h5 {
  font-size: 52px;
  font-weight: 800;
}

@media only screen and (max-width: 780px) {
  h5 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 500px) {
  h5 {
    font-size: 24px;
  }
}

.tech-item {
  font-size: 30px;
  font-weight: 600;
  color: darkSlateGray;
}

@media only screen and (max-width: 780px) {
  .tech-item {
    font-size: 24px;
  }
}

@media only screen and (max-width: 500px) {
  .tech-item {
    font-size: 18px;
  }
}

.proj-summary-headline {
  font-size: 50px;
  font-weight: 800;
}

@media only screen and (max-width: 780px) {
  .proj-summary-headline {
    font-size: 35px;
  }
}

@media only screen and (max-width: 500px) {
  .proj-summary-headline {
    font-size: 22px;
  }
}

.proj-summary {
  font-size: 45px;
  font-weight: 600;
}

@media only screen and (max-width: 780px) {
  .proj-summary {
    font-size: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .proj-summary {
    font-size: 18px;
  }
}

.about {
  background-color: #222;
}

.about h2.page-title {
  color: #fff;
}

.more-aboutMe {
  font-size: 35px;
  font-weight: 600;
}

p.more-aboutMe a {
  color: #aaa;
}

p.more-aboutMe a:hover {
  color: #3cb08f;
}

@media only screen and (max-width: 780px) {
  .more-aboutMe {
    font-size: 25px;
  }
}

@media only screen and (max-width: 500px) {
  .more-aboutMe {
    font-size: 18px;
  }
}

footer.footer {
  padding-bottom: 45px;
}

a.column {
  color: #fff;
}

a.column:hover {
  color:rgba(178,118,225,1);
}
