@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    /* min-height: 100vh; */
    padding: 20px;
}

main {
  height: 95vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.title {
  @apply text-xl;
}

.subtitle {
  @apply text-sm mb-2;
}

.columns {
  @apply grid grid-cols-12 gap-y-8 max-w-[100%] mx-2
}

.column {
  /* @apply mx-6 */
  max-width: 100%;
}

.columns > .column.is-12 {
  @apply col-span-12
}

.columns > .column.is-6 {
  @apply col-span-12 md:col-span-6
}